*{
    padding: 0px;
    margin: 0px;  
}

.content{
    border: 2px solid grey;
}

#BOX1 {
    height: 100px;
    width: 100px;
  }
  
  #BOX2{
      height: 100px;
      width: 100px;
  }
  
  #BOX3{
      height: 100px;
      width: 100px;
  }
  
  #BOX4{
      height: 100px;
      width: 100px;
  }